extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= data[id].project_name
        p= data[id].description

      .project-tech-links-box.box
        h6 Technologies
        ul

          each tech in technologies
            li= tech

        a.btn-link(href= data[id].live_link, target='_blank') Live Demo
        a.btn-link(href= data[id].github_link, target='_blank') GitHub Repo

    .project-img-box.box
      img.image(src= data[id].image_urls[1])
      img.image(src= data[id].image_urls[2])
      img.image(src= data[id].image_urls[3])

    nav.nav
      a(href='/')
        span &larr;
        |  Back
